language: node_js
node_js:
  - "4"
sudo: false
cache:
  directories:
    - node_modules
matrix:
  include:
    - env: UNDERSCORE=1.4.4 BACKBONE=1.0
    - env: UNDERSCORE=1.5 BACKBONE=1.0
    - env: UNDERSCORE=1.7 BACKBONE=1.2.3
    - env: UNDERSCORE=1.7 BACKBONE=1.1
    - env: UNDERSCORE=1.7 BACKBONE=1.0
    - env: UNDERSCORE=1.6 BACKBONE=1.0
    - env: UNDERSCORE=1.4.4 BACKBONE=1.1.0
    - env: UNDERSCORE=1.5 BACKBONE=1.1
    - env: UNDERSCORE=1.8 BACKBONE=1.2.3
    - env: UNDERSCORE=1.8 BACKBONE=1.3.2
    - env: LODASH=2.4 BACKBONE=1.1
    - env: LODASH=2.4 BACKBONE=1.3
env: MAINRUN=true
before_install:
  - npm config set ca ""
install:
  - curl -L https://rawgit.com/marionettejs/travis-ci-setup/master/ci.sh | bash
script: "npm run coverage"
after_success:
  - if [[ $MAINRUN == true ]]; then npm install -g codeclimate-test-reporter; fi
  - if [[ $MAINRUN == true ]]; then codeclimate-test-reporter < coverage/lcov.info; fi
